.sectionTitle {
  &__title {
  }

  &__text {}

  &.-md {
    .sectionTitle {
      &__title {
        font-size: var(--text-30);

        @include media-below(md) {
          font-size: var(--text-26);
        }
      }
    }
  }

  &.-lg {
    .sectionTitle {
      &__title {
        font-size: var(--text-40);
      }
    }
  }
}
.readtxt{
  color: #3554d1;
  font-weight: 900;
  position: absolute;
  bottom: -19px;
  :hover{
    cursor: pointer;
  }
}
.intro-wrapper{
  position: relative;
}

@media screen and (max-width:768px) {
  .destination_cat{
    .slick-slide{
      button{
        height:100px;
      }
    }
  }
}
.socialurl{
  position: absolute;
  top: 5%;
  left: 3%;
  a, button{
    font-size: 30px;
    margin-left: 8px;
  }
  span{
    margin-left: 8px;
  }
  @media screen and (max-width: 768px) {
    top: 0;
  }
}